.aboutpage {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;   
    text-align: center;
    font-family: 'AzeretMono';
    letter-spacing: '0.04em' ;
    background-color: black;
}

.about-content {
    color: #fff;
    width: 50%;
    border: #fff solid 2px;
    padding: 20px;
}

.about-icons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.about-icons a {
  color: white;
  transition: color 0.2s ease;
}

.icon {
    cursor: none;
}