html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
canvas {
  display: block;
  background-color: black;
}

@font-face {
  font-family: "AzeretMono";
  src: url('/fonts/AzeretMono-Variable.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}